@import url(https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Ultra&display=swap);
:root {
    --navlink-font-style: 'Lato', sans-serif;
    --color-header-link: #DBA200;
    --color-header-span: #d6d6d6;
    --color-header-desc: #fafdf6;
    --desc-info-margin: 10px;
    --opacity-animation: opacity 3s forwards;
}

body {
    background-color: #000000;
}

.nav {
    margin: 15px 0px;
    &__logo {
        figure {
            margin: 0;
            img {
                max-height: 80px;
            }
        }
    }
    &__link {
        display: flex;
        justify-content: flex-end;
        font-family: var(--navlink-font-style);
        a {
            color: var(--color-header-link);
            display: flex;
            align-items: center;
            font-size: 18px;
            text-decoration: none;
            margin: 0px 5px;
            animation: var(--opacity-animation);
        }
        a:hover {
            transition: 100ms;
            color: var(--color-header-span);
        }
    }
    @media screen and (max-width: 600px) {
        margin-bottom: 90px;
        &__logo {
            figure {
                text-align: center;
                margin-bottom: 30px;
            }
        }
        &__link {
            display: block;
            a {
                display: flex;
                justify-content: center;
                margin: 10px;
            }
        }
    }
}

.desc {
    animation: var(--opacity-animation);
    &__header {
        font-family: 'Ultra', serif;
        font-size: 30px;
        color: var(--color-header-desc);
        .span--display {
            display: block;
        }
        .andspan {
            text-align: center;
        }
    }
    &__info {
        color: var(--color-header-desc);
        font-size: 18px;
        font-weight: 400;
        margin-top: 50px;
        .spananimation {
            color: var(--color-header-link);
            text-decoration: underline;
        }
    }
    &__picture {
        figure {
            img {
                opacity: 0.5;
                max-width: 500px;
            }
        }
    }
    &--spancolor {}
    @media screen and (max-width: 600px) {
        &__header {
            font-size: 20px;
            margin-left: var(--desc-info-margin);
        }
        &__info {
            margin-left: var(--desc-info-margin);
        }
    }
}

.footer {
    margin-top: 30px;
    &__socialmedia {
        a {
            margin: 10px;
        }
        img {
            height: 30px;
        }
        .github {
            background-color: #ef476f;
            border: 2px solid var(--color-header-span);
            border-radius: 5px;
        }
        .codepen {
            background-color: #ffe5d9;
            border: 2px solid #f4acb7;
            border-radius: 5px;
        }
        .linked {
            background-color: var(--color-header-span);
            border: 2px solid #71697a;
            border-radius: 5px;
        }
        .instagram {
            background-color: #5f0f40;
            border: 2px solid #0f4c5c;
            border-radius: 10px;
        }
        .mail {
            background-color: #ffe5d9;
            border: 2px solid #e5383b;
            border-radius: 5px;
        }
        .github:hover {
            transform: scale(2.0);
            border-color: #ef476f;
            background-color: var(--color-header-span);
        }
        .codepen:hover {
            transform: scale(2.0);
            border-color: #ffe5d9;
            background-color: #f4acb7;
        }
        .linked:hover {
            transform: scale(2.0);
            border-color: var(--color-header-span);
            background-color: #71697a;
        }
        .instagram:hover {
            transform: scale(2.0);
            border-color: #5f0f40;
            background-color: #0f4c5c;
        }
        .mail:hover {
            transform: scale(2.0);
            border-color: #ffe5d9;
            background-color: #e5383b;
        }
    }
    &__sponsor {
        display: flex;
        justify-content: flex-end;
        img:hover {
            box-shadow: 0px 0px 24px 12px rgba(15, 76, 92, 0.82);
            background-color: rgba(15, 76, 92, 0.5);
        }
    }
    @media screen and (max-width: 600px) {
        &__socialmedia {
            display: flex;
            justify-content: center;
        }
        &__sponsor {
            display: flex;
            justify-content: center;
        }
    }
}

@keyframes opacity {
    0% {
        opacity: 0.1;
    }
    50% {
        color: 0.3;
    }
    100% {
        color: 1.0;
    }
}