.gitbutton {
    position: absolute;
    background-image: url(/img/git.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100px;
    height: 100px;
    margin-left: 350px;
    margin-top: -20px;
}

.inbutton {
    position: absolute;
    background-image: url(/img/in.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100px;
    height: 100px;
    margin-left: -250px;
    margin-top: -20px;
}

.instabutton {
    position: absolute;
    background-image: url(/img/ins.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 250px;
}