@import url(https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Ultra&display=swap);
:root {
  --navlink-font-style: 'Lato', sans-serif;
  --color-header-link: #DBA200;
  --color-header-span: #d6d6d6;
  --color-header-desc: #fafdf6;
  --desc-info-margin: 10px;
  --opacity-animation: opacity 3s forwards;
}

body {
  background-color: #000000;
}

.navbar {
  margin: 15px 0px;
}

.navbar__logo figure {
  margin: 0;
}

.navbar__logo figure img {
  max-height: 80px;
}

.navbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: var(--navlink-font-style);
}

.navbar__link a {
  color: var(--color-header-link);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-decoration: none;
  margin: 0px 5px;
  -webkit-animation: var(--opacity-animation);
          animation: var(--opacity-animation);
}

.navbar__link a:hover {
  -webkit-transition: 100ms;
  transition: 100ms;
  color: var(--color-header-span);
}

@media screen and (max-width: 600px) {
  .navbar {
    margin-bottom: 25px;
  }
  .navbar__logo figure {
    text-align: center;
    margin-bottom: 20px;
  }
  .navbar__link {
    display: block;
  }
  .navbar__link a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px;
  }
}

.desc {
  -webkit-animation: var(--opacity-animation);
          animation: var(--opacity-animation);
}

.desc__header {
  font-family: 'Ultra', serif;
  font-size: 28px;
  color: var(--color-header-desc);
}

.desc__header--size {
  font-size: 18px;
}

.desc__header span {
  color: var(--color-header-link);
}

.desc__info {
  color: var(--color-header-desc);
  font-size: 18px;
  font-weight: 400;
  margin-top: 50px;
}

.desc__info .spananimation {
  color: var(--color-header-link);
  text-decoration: underline;
}

.desc__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.desc__picture figure img {
  opacity: 0.5;
  max-width: 500px;
}

.desc--spancolor {
  color: var(--color-header-link);
}

@media screen and (max-width: 600px) {
  .desc__header {
    font-size: 20px;
    margin-left: var(--desc-info-margin);
  }
  .desc__header--size {
    font-size: 18px;
  }
  .desc__info {
    margin-left: var(--desc-info-margin);
  }
}

.footer {
  margin-top: 30px;
}

.footer__socialmedia a {
  margin: 10px;
}

.footer__socialmedia img {
  height: 30px;
}

.footer__socialmedia .github {
  background-color: #ef476f;
  border: 2px solid var(--color-header-span);
  border-radius: 5px;
}

.footer__socialmedia .codepen {
  background-color: #ffe5d9;
  border: 2px solid #f4acb7;
  border-radius: 5px;
}

.footer__socialmedia .linked {
  background-color: var(--color-header-span);
  border: 2px solid #71697a;
  border-radius: 5px;
}

.footer__socialmedia .instagram {
  background-color: #5f0f40;
  border: 2px solid #0f4c5c;
  border-radius: 10px;
}

.footer__socialmedia .mail {
  background-color: #ffe5d9;
  border: 2px solid #e5383b;
  border-radius: 5px;
}

.footer__socialmedia .github:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  border-color: #ef476f;
  background-color: var(--color-header-span);
}

.footer__socialmedia .codepen:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  border-color: #ffe5d9;
  background-color: #f4acb7;
}

.footer__socialmedia .linked:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  border-color: var(--color-header-span);
  background-color: #71697a;
}

.footer__socialmedia .instagram:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  border-color: #5f0f40;
  background-color: #0f4c5c;
}

.footer__socialmedia .mail:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  border-color: #ffe5d9;
  background-color: #e5383b;
}

.footer__sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__sponsor img:hover {
  -webkit-box-shadow: 0px 0px 24px 12px rgba(15, 76, 92, 0.82);
          box-shadow: 0px 0px 24px 12px rgba(15, 76, 92, 0.82);
  background-color: rgba(15, 76, 92, 0.5);
}

@media screen and (max-width: 600px) {
  .footer__socialmedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__sponsor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0.1;
  }
  50% {
    color: 0.3;
  }
  100% {
    color: 1.0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }
  50% {
    color: 0.3;
  }
  100% {
    color: 1.0;
  }
}
/*# sourceMappingURL=index.css.map */